<a href="https://colab.research.google.com/github/Merm-A-de/Pandas/blob/main/Dict_to_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
dic = {"Dave":'001', "Ava":'002', "Joe":'003'}
print(dic)
print(type(dic))

{'Dave': '001', 'Ava': '002', 'Joe': '003'}
<class 'dict'>

In [1]:
new_dic = dict()

print(new_dic)
print(type(new_dic))

{}
<class 'dict'>

In [4]:
new_dic=dict(Dave="3", Ava='4')
print(new_dic)

{'Dave': '3', 'Ava': '4'}

In [11]:
prac_dict = dict(Football='2, NFL')

prac_dict

{'Football': '2, NFL'}

In [10]:
sec_dict = dict(dict(name="First",last="final"), hobby="Fun")

sec_dict

{'name': 'First', 'last': 'final', 'hobby': 'Fun'}

In [13]:
third_dict = {"Name": {"Angelo":"2"}, {"Joe":"3"}}

SyntaxError: ignored

In [15]:
fourth_dict = {"Name": {"Angelo":{"ID":4}}}

fourth_dict

{'Name': {'Angelo': {'ID': 4}}}

In [17]:
fifth_dict = {"Name": {"Angelo":{"ID":4}}, {"Reuben":{"ID":3}}}

fifth_dict

SyntaxError: ignored

In [77]:
vid_dict = {"Who": {"Joe":{'ID':'1','Hourly':'100','Exp':'2'},
                    "Rob":{'ID':'9','Hourly':'55','Exp':'0.5'},
                    "Leanne":{'ID':'3','Hourly':'75','Exp':'1.5'}}}

vid_dict

{'Who': {'Joe': {'ID': '1', 'Hourly': '100', 'Exp': '2'},
  'Rob': {'ID': '9', 'Hourly': '55', 'Exp': '0.5'},
  'Leanne': {'ID': '3', 'Hourly': '75', 'Exp': '1.5'}}}

In [27]:
# Accessing Items

In [32]:
dic['Dave']

'001'

In [33]:
print(dic)

{'Dave': '001', 'Ava': '002', 'Joe': '003'}

In [37]:
print(dic.keys())

#for x in dic.keys():
 # print(x)

dict_keys(['Dave', 'Ava', 'Joe'])

In [38]:
print(dic.values())

dict_values(['001', '002', '003'])

In [39]:
print(dic.get("Dave"))

001

In [42]:
for x in dic.values():
  print(x)

001
002
003

In [44]:
for x,y in dic.items():
  print(x,y)

Dave 001
Ava 002
Joe 003

#Updating

In [47]:
dic["Dave"]="004"
dic['Reuben']="001"
dic['Lorainne']="002"

In [51]:
dic.pop("Ava")

'002'

In [53]:
dic

{'Dave': '004', 'Joe': '003', 'Reuben': '001', 'Lorainne': '002'}

In [55]:
dic.popitem()

('Reuben', '001')

In [56]:
dic

{'Dave': '004', 'Joe': '003'}

In [59]:
dic["Omarion"]= '009'

dic

{'Dave': '004', 'Joe': '003', 'Omarion': '009'}

In [61]:
del dic["Omarion"]

KeyError: ignored

In [63]:
dic

{'Dave': '004', 'Joe': '003'}

In [64]:
# dict to DF

In [80]:
import pandas as pd
df = pd.DataFrame(vid_dict["Who"])
df.T

       ID Hourly  Exp
Joe     1    100    2
Rob     9     55  0.5
Leanne  3     75  1.5