<a href="https://colab.research.google.com/github/Merm-A-de/Pandas/blob/main/Pandas_Series_and_Some_DataFrame_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [361]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from random import sample
from random import randint

In [52]:
from pandas._libs import index
from pandas.core.indexes.base import Index
#Haven't programmed in 2 months
# Haven't used Pandas in ~ 5 -6 months

# Using Family Names - something u'll remember

one_d = pd.Series([
                   "Taso","Georgia",
                   "George", "Perry",
                   "Angelo", "Marina"
                  ])

#one_d = one_d(index[start=1])
#how to start indexing at #1 instead 0

#one_d = one_d(pd.Index([1,len(one_d)]))

#^ how to reset original index




#^ how to set a created index

fam = pd.DataFrame({'other': [1,2,3,4,5,6],
                    'age:': [58, 55, 27, 25, 22, 20], 
                    'name': ["Taso","Georgia",
                          "George", "Perry",
                          "Angelo", "Marina"]})

fam

fam = fam.set_index('age')

KeyError: ignored

In [1]:
#Pandas Create a DataFrame

In [58]:
music = pd.DataFrame({
                    "Year": [2020, 2021, 2022],
                    "Best Song": ["Yes Indeed",
                      "Tragic", "Take my Breath"],
                    "Artist":["Lil Baby", "Kid LaRoi", "Weeknd"],
                    "Genre":["Rap","Rap","Pop"]
})

music

   Year       Best Song     Artist Genre
0  2020      Yes Indeed   Lil Baby   Rap
1  2021          Tragic  Kid LaRoi   Rap
2  2022  Take my Breath     Weeknd   Pop

In [59]:
# Pandas Data Series 

# Whats the difference of Series and dataFrame

# Convert a Data Series to list - Pandas

In [66]:
ellen = pd.Series([1,2,3,4,9,19])

ellen

ellen.tolist()

[1, 2, 3, 4, 9, 19]

In [80]:
# Create Padas program to Add two series

ser_1 = pd.Series([2, 4, 6, 8, 14])
ser_2 = pd.Series([1, 3, 5, 7, 9])

ser_3 = ser_1 + ser_2

# always recommend playing around rather than listening to another person

print(ser_1) #can only call 1 data series without using print 
print(ser_2)
print(ser_3)

0     2
1     4
2     6
3     8
4    14
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
0     3
1     7
2    11
3    15
4    23
dtype: int64

In [81]:
# Create Padas program to subtract two series

print(ser_1, ser_2)

ser_sub = ser_1 - ser_2

ser_sub

0     2
1     4
2     6
3     8
4    14
dtype: int64 0    1
1    3
2    5
3    7
4    9
dtype: int64

0    1
1    1
2    1
3    1
4    5
dtype: int64

In [86]:
# Create Padas program to Multiply two series

#print(ser_1, '\n', ser_2) # why is there a space after escape n'ing
# how to remove the space

ser_mult = ser_1 * ser_2

#2, 12, 30, 56, 126

ser_mult

0      2
1     12
2     30
3     56
4    126
dtype: int64

In [91]:
# Create Padas program to Divide two series

#print(ser_1, '\n',ser_2) # figure the space n one

ser_div = ser_1 / ser_2 

ser_div
#2, 1.33, 1.2, 1.16, 1.55

# Bad mental math - program works and runs

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [95]:
# Example Pandas Series for comparing Examples

fir_ser = pd.Series([58, 55, 27, 25, 22, 3])
sec_ser = pd.Series([234, 342, 3, 29, 8, 3])

In [96]:
 # Check if elements in Pandas Series Equal
 fir_ser == sec_ser

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [98]:
# Check if element in first series is greater than second
fir_ser > sec_ser

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [101]:
# Check if element in first series is less than second
fir_ser <= sec_ser
#sec_ser > fir_ser

0     True
1     True
2    False
3     True
4    False
5     True
dtype: bool

In [103]:
#convert a dictionary to a Pandas Series

dict_ = {"a": 12,"b": 13,"c": 14,"d": 15,"e": 16, }

pd.Series(dict_)

a    12
b    13
c    14
d    15
e    16
dtype: int64

In [106]:
# convert a Numpy array to a pandas series

#Rememer to create a np array import numpy (as np)

ar = np.array([1,3,35])

pd.Series(ar)

0     1
1     3
2    35
dtype: int64

In [107]:
#for both the dictionary and np array transaltion to a pd Series

#use pd.Series("whatever ur translating")

In [125]:
# link to examples --> 
# https://www.w3resource.com/python-exercises/pandas/index-data-series.php

#8  #Change the data type of a Pandas Series

ser_u1 = pd.Series([100, 200, 300, "Python", 400, 500])
#ser_u2 = 

ser_u1

ser_u2 = pd.to_numeric(ser_u1, errors='coerce')

ser_u2

0    100.0
1    200.0
2    300.0
3      NaN
4    400.0
5    500.0
dtype: float64

In [196]:
# Create a Pandas Series using X Rows and Y Columns from a Pandas DataFrame

d ={ 
     "col 1": [1,5,9,10],
     "col 2": ["The", "Best", "band", "None"],
     "col 3": ["Migos", "Offset", "Quavo", "TakeOff"]
}

df_ex2 = pd.DataFrame(d)

# ^ Same result as below (essentially reading in data to a DataFrame)

df_ex = pd.DataFrame({
          "col 1": [1,5,9,10],
          "col 2": ["The", "Best", "band", "None"],
          "col 3": ["Migos", "Offset", "Quavo", "TakeOff"]
})


# Creating a PD Series using All rows and only the second column from above DF

hook = df_ex.iloc[:,1] # doesn;t work when taking traditional dataframe and 
# using iloc


#Creating a PD Series using rows 1&2 and columns 2&3 of the ^^ DF

one_col_ser = df_ex2.iloc[1:3,1:3] #rows, columns (hard stop)
#one_col_ser1 = df_ex2.loc[2,:] #loc not working

#one_col_ser

hook

0     The
1    Best
2    band
3    None
Name: col 2, dtype: object

In [205]:
# create a series using one column of data from a Pandas Dataframe

parents = pd.DataFrame({
            "Role": ["Dad", "Mom", "MGM"],
            "Name": ["Taso", "Georgia M.", "Georgia K." ]  
})

parents

par_ser = parents.iloc[:,0:2] # hard stop on rows 

par_ser

  Role        Name
0  Dad        Taso
1  Mom  Georgia M.
2  MGM  Georgia K.

In [233]:
sir_1 = pd.Series([
                  ["Red","Green","White"],
                  ["Red","Black"],
                  ["Yellow"]
])

#print(sir_1,sir_2,sir_3)


sir_2 = sir_1.apply(pd.Series).stack().reset_index(drop=True)

sir_2

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [247]:
#program to sort pandas series

s3ries = pd.Series(["25","383", "Python", "2", "373"])

newk = pd.Series(s3ries).sort_values() # doesn't work when nums aren't strings
# output has sorted values not index

# how to reset index after sorting values
newk.reset_index(drop="index")

0         2
1        25
2       373
3       383
4    Python
dtype: object

In [260]:
# add Date to an existing series

sirize = pd.Series(["The", "Go", "To", "Here"])

# Adding a value to the end of all existing values
sirize_add_to_all = sirize.add("Where")

#way to add and have fresh index
n_sirize = (sirize.append(pd.Series("where"))).reset_index(drop="index")

#way to add with added values starting from 0 index after existing values index
noo_sirize = sirize.append(pd.Series(["There", "Was", "always", "an answer"]))

noo_sirize

0          The
1           Go
2           To
3         Here
0        There
1          Was
2       always
3    an answer
dtype: object

In [270]:
# output part of a series based on value and condition

sleries = pd.Series ([1,3,5,7,9,-199,11])

# outputting all rows where the value is greater than the bar

the_bar = 3

sl_eries = sleries[sleries > the_bar]

sl_eries

# Same as above with a fresh index

sle_ries = sl_eries.reset_index(drop="index")

sle_ries

0     5
1     7
2     9
3    11
dtype: int64

In [294]:
# Change the order of a series

geries = pd.Series({"A":1,"B":2,"C":3,"D":4})

geries 

geries_noo = geries.reindex(index=["D","A","C","B"])

print(geries_noo)

#creating the series using separate lists of data and index

jeries = pd.Series(data=[20,33,28,59,79],index=["A","B","C","D","E"])

jeries_noo = jeries.reindex(index=["C","A","D","E","B"])

jeries_noo

D    4
A    1
C    3
B    2
dtype: int64

C    28
A    20
D    59
E    79
B    33
dtype: int64

Formula for Std of a population ![sample-standard-dev.gif]()

In [306]:
# 15. program that gets mean and std dev of data in a series

laptop = pd.Series([11, 58, 93, 93, 288])

print("Mean of Laptop Data:", laptop.mean())
print("Standard Deviation of Laptop Data:", laptop.std()) #std as pop not sample

Mean of Laptop Data: 108.6
Standard Deviation of Laptop Data: 105.77948761456543

0      220
1      860
2     5461
3    39599
Name: GDP, dtype: int64

In [309]:
# mean and STD for series selected from Dataframe

looptop = pd.DataFrame({
                        "Year": [1800, 1875, 1950, 2025],
                        "GDP": [220, 860, 5461, 39599]
})

looptop_ser = pd.Series(looptop.iloc[:,1])

print("Mean of GDP from Looptop Dataset:", looptop_ser.mean())
print("Standard Deviation of GDP from Looptop Dataset:", looptop_ser.std())

Mean of GDP from Looptop Dataset: 11535.0
Standard Deviation of GDP from Looptop Dataset: 18854.410819045323

In [320]:
# pull the elements in one series not in the other

slur1 = pd.Series ([1,3,5,9,19])
slur2 = pd.Series ([1,3,7,9,29])

# outputs the elements in slur1 not in slur 2 
slur3 = slur1[~slur1.isin(slur2)]

# outputs the elements in slur2 not in slur1
slur4 = slur2[~slur2.isin(slur1)]

# outputs the elements in both
slur5 = slur2[slur2.isin(slur1)]

slur5

0    1
1    3
3    9
dtype: int64

In [330]:
# output series with all elements not in the other series (for both)

#My Approach

souri = pd.Series([1,3,5,89])
souri2 = pd.Series([1,2,4,9])

souri_pt1 = souri[~souri.isin(souri2)] 
souri_pt2 = souri2[~souri2.isin(souri)]

# outputs the answer with biffed index and unsorted order
output_ind = souri_pt1.append(souri_pt2)

#sorted in order
output_sort = output_ind.sort_values()

# sorted order and proper index
output_sort.reset_index(drop="index")

0     2
1     3
2     4
3     5
4     9
5    89
dtype: int64

In [335]:
# output series with all elements not in the other series (for both)

# Textbook Answer

sr11 = pd.Series(np.union1d(souri, souri2)) #all of them
sr22 = pd.Series(np.intersect1d(souri, souri2)) #commonalities

result = sr11[~sr11.isin(sr22)]

result # biffed index

indexed_reso = result.reset_index(drop="index") # with proper index

indexed_reso

0     2
1     3
2     4
3     5
4     9
5    89
dtype: int64

In [426]:
# Create a series with randomized data

# output min, 25th percentile, median, 75th percentile, and max of a series

#using an np array that will get translated to a Series

art = np.random.rand(20)*100

art_as_series = pd.Series(art)

#print(art_as_series)

print("Minimum of art Dataset: ", int(art_as_series.min()))
print("25th Percentile of art Dataset: ", art_as_series.quantile(.25))
print("Median of art Dataset: ", art_as_series.quantile(.5))
print("Median2 of art Dataset: ", art_as_series.median())
print("75th Percentile of art Dataset: ", art_as_series.quantile(.75))
print("Maximum of art Dataset: ", art_as_series.max())

# how to round all above values 

#art_array = np.array(art)


# using random in a Series
ranger = range(0,100)


souriiies = pd.Series([random.sample(ranger, k=20)])

#souriiies

Minimum of art Dataset:  1 2
25th Percentile of art Dataset:  19.486501253605265
Median of art Dataset:  30.761487901210725
Median2 of art Dataset:  30.761487901210725
75th Percentile of art Dataset:  53.970126092173224
Maximum of art Dataset:  94.90455490838302

In [ ]:
# output min, 25th centile, median, 75th centile, & max of a series from a DF

In [428]:

# get through 20 before leaving tomorrow (thx and good night then post to GH)
# ❤️

In [59]:
# Next one off - # Pandas Dataframe - Index by a certain column
# one for personal before the practice